/*
Theme Name: Gullu
Theme URI: http://wordpress.creativegigs.net/gullu/
Author: CreativeGigs
Author URI: https://themeforest.net/user/creativegigs/portfolio
Description: Gullu is a professional, modern crafted HTML template which can be used for the agency, marketing, consulting, start-up and related any business website.
Version: 1.7
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: gullu
*/
.more-about-us .main-content .main-wrapper .button-wrapper {
    width: 348px;
    position: absolute;
    right: 0;
    bottom: -100px;
    padding: 35px 0 40px 65px;
}
.what-we-do .single-block h5 a {
    color: #2d2d43;
    font-size: 16px;
    line-height: 30px;
}
.admin-bar .theme-menu-wrapper.fixed.menu-style-two {
    margin-top: 32px;
}

nav.navigation.pagination {
    margin: auto;
    width: 100%;
    text-align: center;
}

.pagination .nav-links a, .pagination .nav-links span.current {
    font-size: 20px;
    font-weight: 500;
    color: #c9c9c9;
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.pagination .nav-links span.current,
.pagination .nav-links a.next,
.pagination .nav-links a.prev {
    color: #13192d;
}

.theme-title h2,
.portfolio-details .title h2 {
    max-width: 700px;
}

.home-blog-section .theme-title>h2 {
    max-width: none;
}

.single_title.title {
    position: relative;
    margin: 0 0 115px 0;
}

.single_title.title h2 {
    line-height: 55px;
}

.single_title.title a {
    width: 145px;
    line-height: 46px;
    border: 2px solid rgba(0,0,0,0.07);
    border-radius: 3px;
    text-align: center;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    position: absolute;
    right: 0;
    bottom: 10px;
}

.single_title.title a:hover {
    color: #fff;
    border-style: solid;
    border-color: #00d747;
}

.comment_form_margin {
    margin: 100px 0 20px 0;
}

/**************************** Woocommerce Styling **************************/
.woocommerce .star-rating {
    float: left;
}

.gullu_reviews_count, .gullu_avg_rating {
    display: inline-block;
    color: #a2a2a2;
}

.woocommerce div.product p.stock {
    display: inline-block;
    line-height: 40px;
    font-size: 18px;
    color: #afafaf;
    margin: 0;
}

.woocommerce .quantity .qty {
    height: 46px;
    border: 1px solid #e2e2e2;
    font-size: 16px;
    color: #12121a;
    max-width: 50px;
    background: transparent;
    padding-left: 10px;
}

.shop-details .product-review-tab {
    margin: 60px 0 120px 0;
}

.shop-details .product-review-tab .tab-content td p {
    margin: 0;
}

h2.woocommerce-Reviews-title {
    padding: 25px 0;
}

.shop_widget {
    margin: 60px 0 80px 0;
}

.shop_widget:first-child {
    margin: 0;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background: #eef2f5;
    border: none;
    height: 3px;
    margin-bottom: 28px;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background: #00d747;
}

.woocommerce ul.product_list_widget li a {
    font-weight: 500;
    color: #000;
    line-height: 30px;
    margin: 10px 0 5px 0;
    display: block;
}

.woocommerce ul.product_list_widget li a:hover {
    color: #00d747;
}


header.menu-style-three #mega-menu-wrapper .nav .login-button a {
    padding: 0 !important;
    margin-top: 5px !important;
    margin-left: 10px !important;
}

.menu-style-two.menu-style-three .top-header p {
    color: #fff;
}


.our-blog .single-blog .image img {
    display: block;
    margin: 0 auto;
    width: auto;
}

.sticky .text {
    padding: 30px !important;
}

.widgets select {
    width: 100%;
    padding: 5px;
}

.our-blog.blog-v3 .single-blog.has-post-thumbnail .text {
    padding: 62px 0 0 0;
}

.logo h3 {
    color: #ffffff;
    margin-top: -15px;
}

.admin-bar .theme-menu-wrapper.fixed {
    margin-top: 32px;
}

.page .wrapper.page-content {
    margin-bottom: 100px;
}

.blog-main-post ul, .blog-main-post ol {
    padding-left: 25px;
}

ul.sub-menu, .home-service-section ul, .tab-pane ul,
.widgets ul, footer ul, .woocommerce ul, ul.nav, ul#crumbs,
.single-portfolio ul, ul.second-sub-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.testimonial-section .image-box .image-shape {
    height: 580px;
}

.home .wrapper.page-content {
    margin-bottom: 0;
}

.portfolio-details img {
    margin: auto;
}

.tag-option ul.float-left {
    padding-left: 0;
}

.woocommerce-Reviews .meta {
    margin-top: -7px !important;
}

.shop-details .procuct-details .product-info button.single_add_to_cart_button {
    width: 145px;
    color: #fff;
    margin-right: 20px;
    border-style: solid;
    border-color: #00d747;
    background: #00d747;
    margin-top: 0;
    margin-left: 15px;
    height: 46px;
    padding-top: 0px;
}

.pricing-plan-one {
    padding-bottom: 210px;
}

h2.quote:before {
    content: '';
    width: 55px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 25px;
    left: 0;
}

h2.quote {
    font-size: 32px;
    line-height: 50px;
    font-weight: normal;
    padding: 0 85px;
    margin: 80px 0 80px 0 !important;
    position: relative;
}

.blog-details .blog-main-post h5 {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 35px;
    color: #000000;
}

.single-post .blog-v3 .wrapper {
    width: 77%;
}

.blog-details .blog-main-post p:first-child {
    margin: 0;
}

.single-blog h5, .single-blog h6 {
    margin: 0;
}

.testimonial-section {
    margin-top: 130px;
}

.static_header header.theme-menu-wrapper.menu-style-two #mega-menu-wrapper .nav>li>a,
.static_header .logo h3 {
    color: #38384f;
}

.footer-widgets.widget_nav_menu ul>li {
    border-bottom: none;
    padding: 0;
    margin: 0;
}

.gullu-portfolio .mixitUp-menu ul {
    padding-left: 0;
}

.static_header header.theme-menu-wrapper {
    padding-bottom: 20px;
    padding-top: 45px;
}

.contact-address ul {
    padding: 0;
}

.not-front-page header.theme-menu-wrapper.menu-style-three #mega-menu-wrapper .nav>li>a {
    color: #ffffff;
}

.not-front-page .menu-style-three .top-header p a {
    color: #0dda8f;
}

ul.clearfix {
    list-style: none;
    margin: 0;
    padding: 0;
}

.woocommerce .woocommerce-ordering select {
    vertical-align: middle;
    border: 1px solid #e9e9e9;
    padding: 10px 5px;
}

.shop-page .shop-sidebar .widget_product_categories li:last-child a {
    margin-bottom: 0;
}

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
    width: 90px;
    float: left;
    margin-right: 15px;
}

.vc_col-has-fill>.vc_column-inner, .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row_inner>.vc_row>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, .vc_section.vc_section-has-fill, .vc_section.vc_section-has-fill+.vc_row-full-width+.vc_section, .vc_section.vc_section-has-fill+.vc_section {
    padding-top: 0 !important;
}