/*** 1. General Styling & Typography
-------------------------------------------*/
a {
    color: #000000;
}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky .col-sm-6 {
    display: block;
    background: #eee;
}

.hentry {
    margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}


.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}



/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}


.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
}
.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    display: block;
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-size: 12px;
    line-height: 1.5;
    padding: 0.5em 0;
}

.gallery {
    width: 100%;
}

figure.gallery-item {
    margin-bottom: 10px;
    display: inline-block;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
    margin-bottom: 10px;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
    margin-right: 1em;
    margin-bottom: 10px;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}


.post-content img {
    max-width: 100%;
    height: auto;
}

.media-left img {
    max-width: none;
}

pre {
    background: #f5f5f5;
    color: #666;
    font-family: monospace;
    font-size: 14px;
    margin: 20px 0;
    overflow: auto;
    padding: 20px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}


/* Table style */
table {
    margin: 0 0 1.5em;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    padding-right: 10px !important;
}

td, th {
    padding: 0;
}

td {
    border-top: 1px solid #ededed;
    padding: 6px 10px 6px 0;
}

/*** Input field style ***/
input {
    display: inline;
    height: auto;
    padding: 4px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type="submit"] {
    height: auto;
    padding: 4px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type="submit"]:hover {
    border: 1px solid #333;
    color: #333;
    cursor: pointer;
}

.article-content ol li {
    list-style-type: decimal;
    margin-left: 2em;
    padding: 5px;
}

.search-no-results h1.page-title {
    padding-top: 10px;
    padding-left: 5px;
}

.no-results .page-content input.form-control {
    width: 100%;
}


/******************* 404 page ********************/
.error-text h1 {
    color: #f60d2b;
    font-size: 42px;
    line-height: 1.7;
}

.error-text h4 {
    margin-top: 15px;
}

.error404 button.btn.btn-style {
    margin-top: 10px;
}


/***************************** Widget styles ******************************/

.widget img {
    max-width: 100%;
    height: auto;
}

.widget select {
    width: 80% !important;
    height: 30px;
    color: #8C8C8C;
    margin: 0 auto;
    display: table;
    margin-top: 30px;
    margin-bottom: 30px;
}

.widget ul {
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    list-style: none;
    padding: 30px;
    padding-bottom: 15px;
}

.widget_recent_entries ul>li,
.widget_nav_menu ul>li,
.widget_categories ul>li,
.widget_archive ul>li,
.widget_meta ul>li,
.widget_pages ul>li {
    list-style: outside none none;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.widget_recent_entries ul>li:last-child,
.widget_nav_menu ul>li:last-child,
.widget_categories ul>li:last-child,
.widget_archive ul>li:last-child,
.widget_meta ul>li:last-child,
.widget_pages ul>li:last-child {
    border: none;
}

.widget_recent_entries ul li a,
.widget_nav_menu ul li a,
.widget_categories ul li a,
.widget_archive ul li a,
.widget_meta ul li a,
.widget_pages ul li a  {
    color: #797986;
}

.widget_recent_comments ul {
    margin: 0;
    list-style: none
}

li.recentcomments {
    line-height: 2;
}

ul li.recentcomments>a {
    padding-left: 0;
    line-height: normal;
}

.widget_recent_comments ul li span{
    color: #666;
    font-weight: 700
}

.widget_recent_comments ul li a{
    color: #666;
    font-weight: 700
}

#wp-calendar{
    width: 100%;
}

#wp-calendar tfoot tr td a{
    color: #666;
}

.widget-inner {
    padding: 30px;
}
img.alignnone.wp-image-907 {
    height: auto;
    width: 100%;
}

/** page pagination links style **/
.page-links > .page-links-title {
    border: 0;
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    height: auto;
    margin: 0;
    padding-right: 0.5em;
    width: auto;
}

@media screen and (min-width: 77.5em) {
    .page-links a, .page-links > span {
        margin: 0 0.25em 0.25em 0;
    }
}

@media screen and (min-width: 77.5em) {
    .page-links a, .page-links > span {
        margin: 0 0.25em 0.25em 0;
    }
}

.page-links a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
    background-color: #333;
    border-color: #333;
    color: #fff;
}

.page-links a, .page-links > span {
    border: 1px solid #eaeaea;
    border: 1px solid rgba(51, 51, 51, 0.1);
    display: inline-block;
    font-size: 12px;
    font-size: 1.2rem;
    height: 2em;
    line-height: 2;
    margin: 0 0.3333em 0.3333em 0;
    text-align: center;
    width: 2em;
}

.sticky {
    background: #eee;
}

input.search-field {
    width: 95%;
    height: 40px;
    background: #f7f7f7;
}

input.search-submit {
    width: 60px;
    height: 40px;
    background: transparent;
    padding: 5px;
    font-size: 14px;
    margin-left: -12px;
    margin-top: -1px;
}

.tagcloud a {
    padding: 5px;
    font-size: 14px !important;
    border: 1px solid #333;
    margin-bottom: 5px;
}

.widgets ul {
    margin: 0;
    padding: 0;
}

.sidebar_widgets h3 {
    font-weight: 600;
    margin-bottom: 38px;
    font-size: 26px;
}

.widget_rss ul li {
    margin-top: 15px;
}

.widget_nav_menu ul.sub-menu li, .widget_categories ul.children li {
    margin-left: 15px;
    border: none;
    padding-bottom: 0;
    font-weight: 300;
}