.la-portfolio-listing + .la-pagination {
  margin-top: 50px;
  margin-bottom: 20px;
}

.la-portfolio-masonry .elm-loadmore-ajax {
  margin-top: 4%;
  margin-bottom: 20px;
}
.pf-masonry{
  .portfolio-item{
    &:not(.showmenow){
      opacity: 0;
    }
  }
}
.portfolios-loop{
  .item--thumbnail{
    img{
      width: 100%;
    }
  }
  .item-inner{
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  .portfolio-item{
    float: left;
    .item-thumb-cover{
      display: block;
      position: relative;
      height: 100%;
    }
    .cover-img{
      a{
        display: block;
        height: 100%;
      }
      img{
        width: 100%;
        display: block;
      }
    }
    .item--action{
      a{
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: #fff;
        color: #272727;
        font-size: 16px;
        margin: 5px;
        @include border-radius(50%);
        &:hover{
          background-color: #272727;
          color: #fff;
        }
      }
    }
  }
  &.cover-img-bg{
    .portfolio-item{
      .cover-img{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        img{
          display: none;
        }
      }
    }
  }
  &.grid-items{
    .item-inner{
      margin-bottom: 0;
    }
    .cover-img{
      background-position: 0 0;
      background-size: cover;
      img{
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &.pf-style-1{
    .item--holder{
      z-index: 4;
      bottom: 0;
      position: absolute;
      width: 100%;
      color: #fff;
      padding: 0 30px 25px;
      a:hover{
        text-decoration: underline;
      }
    }
    .item--link-overlay{
      transition: all .4s ease;
      visibility: hidden;
      opacity: 0;
      &:before,
      &:after{
        display: none;
      }
    }
    .entry-title{
      color: inherit;
      margin: 0 0 10px;
    }
    a{
      color: inherit;
    }
    .entry-header,
    .entry-tax-list{
      opacity: 0;
      visibility: hidden;
      @include transition(all .4s ease 0s);
      @include translate2d(0, 20px);
    }
    .item-inner:hover{
      .item--link-overlay{
        opacity: 1;
        visibility: visible;
      }
      .entry-header,
      .entry-tax-list{
        opacity: 1;
        visibility: visible;
        @include translate2d(0, 0);
        transition-delay: .2s;
        -webkit-transition-delay: .2s;
      }
      .entry-tax-list{
        transition-delay: .3s;
        -webkit-transition-delay: .3s;
      }
    }
  }

  &.pf-style-2{
    .item--info{
      display: none;
    }
    .item--link-overlay{
      @include scale(0.8);
      &:after{
        display: none;
      }
      .icon-plus{
        height: 2px;
        width: 30px;
        background-color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -15px;
        margin-top: -1px;
        visibility: hidden;
        opacity: 0;
        @include single-transition();
        &:after{
          content: "";
          width: 2px;
          height: 30px;
          background-color: inherit;
          position: absolute;
          left: 14px;
          top: -14px;
        }
      }
    }
    .item-inner{
      &:hover{
        .item--link-overlay{
          @include scale(1);
          &:before{
            visibility: visible;
            opacity: 0.9;
          }
          .icon-plus{
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }

  &.pf-style-3{
    .item--holder{
      z-index: 4;
      top: 50%;
      position: absolute;
      width: 100%;
      color: #fff;
      padding: 0 30px;
      text-align: center;
      @include translate2d(0,-50%);
      a:hover{
        text-decoration: underline;
      }
    }
    .item--link-overlay{
      transition: all .4s ease;
      visibility: hidden;
      opacity: 0;
      @extend %background-color-primary;
      &:before,
      &:after{
        display: none;
      }
    }
    .entry-title{
      color: inherit;
      margin: 0 0 10px;
    }
    a{
      color: inherit;
    }
    .entry-header,
    .entry-tax-list{
      opacity: 0;
      visibility: hidden;
      @include transition(all .4s ease 0s);
      @include translate2d(0, 20px);
    }
    .item-inner:hover{
      .item--link-overlay{
        opacity: 0.9;
        visibility: visible;
      }
      .entry-header,
      .entry-tax-list{
        opacity: 1;
        visibility: visible;
        @include translate2d(0, 0);
        transition-delay: .2s;
        -webkit-transition-delay: .2s;
      }
      .entry-tax-list{
        transition-delay: .3s;
        -webkit-transition-delay: .3s;
      }
    }
  }

  &.pf-style-4{
    .item--info{
      display: none;
    }
    .item--link-overlay{
      @include scale(0.8);
      &:after{
        display: none;
      }
      .icon-plus{
        position: absolute;
        left: 50%;
        top: 50%;
        visibility: hidden;
        opacity: 0;
        color: #fff;
        font-size: 20px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        margin-left: -15px;
        margin-top: -15px;
        @include single-transition();
        &:after{
          content: "\64";
          font-family: "pisces";
          font-style: normal !important;
          font-weight: normal !important;
          font-variant: normal !important;
          text-transform: none !important;
          speak: none;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
    }
    .item-inner{
      &:hover{
        .item--link-overlay{
          @include scale(1);
          &:before{
            visibility: visible;
            opacity: 0.9;
          }
          .icon-plus{
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }

  &.pf-style-5{
    .item--holder{
      z-index: 4;
      top: 50%;
      position: absolute;
      width: 100%;
      color: #fff;
      padding: 0 30px;
      text-align: center;
      @include translate2d(0,-50%);
      a:hover{
        text-decoration: underline;
      }
    }
    .item--link-overlay{
      transition: all .4s ease;
      visibility: hidden;
      opacity: 0;
      background-color: #232324;
      &:before,
      &:after{
        display: none;
      }
    }
    .entry-title{
      color: inherit;
      margin: 0 0 10px;
    }
    a{
      color: inherit;
    }
    .entry-header,
    .entry-tax-list{
      opacity: 0;
      visibility: hidden;
      @include transition(all .4s ease 0s);
      @include translate2d(0, 20px);
    }
    .item-inner:hover{
      .item--link-overlay{
        opacity: 0.9;
        visibility: visible;
      }
      .entry-header,
      .entry-tax-list{
        opacity: 1;
        visibility: visible;
        @include translate2d(0, 0);
        transition-delay: .2s;
        -webkit-transition-delay: .2s;
      }
      .entry-tax-list{
        transition-delay: .3s;
        -webkit-transition-delay: .3s;
      }
    }
  }
  &.pf-style-7,
  &.pf-style-6{
    &.grid-space-default{
      .item-inner{
        margin-bottom: 30px;
      }
    }
    .item-thumb-cover{
      a:before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        transition: all .4s ease;
        visibility: hidden;
        opacity: 0;
        background-color: #232324;
      }
    }
    .item-inner:hover{
      .item-thumb-cover {
        a:before {
          opacity: 0.9;
          visibility: visible;
        }
      }
    }
    .item--info{
      padding-bottom: 20px;
    }
    .entry-title{
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .item--link-overlay{
      display: none;
    }
  }
  &.pf-style-7{
    .item--info{
      text-align: center;
    }
  }
  &.pf-style-8{
    &.grid-space-default{
      .item-inner{
        margin-bottom: 6.5%;
      }
    }
    .item--holder{
      z-index: 4;
      bottom: 0;
      position: absolute;
      width: 100%;
      color: #fff;
      padding: 0 30px 25px;
      a:hover{
        text-decoration: underline;
      }
    }
    .item--link-overlay{
      transition: all .4s ease;
      visibility: visible;
      opacity: 0.5;
      background-color: rgba(#000, 0.4);
      background-image: -moz-linear-gradient( -90deg, rgba(#000, 0.4) 0%, #000 100%);
      background-image: -webkit-linear-gradient( -90deg, rgba(#000, 0.4) 0%, #000 100% );
      background-image: -ms-linear-gradient( -90deg, rgba(#000, 0.4) 0%, #000 100% );
      &:before,
      &:after{
        display: none;
      }
    }
    .entry-title{
      color: inherit;
      margin: 0 0 10px;
    }
    a{
      color: inherit;
    }
    .item-inner:hover{
      .item--link-overlay{
        opacity: 0.8;
        visibility: visible;
      }
    }
  }
}

@media (max-width: 1199px) {
  .portfolios-loop{
    &.cover-img-bg{
      .portfolio-item{
        .cover-img{
          position: static;
          img{
            display: block;
          }
        }
      }
    }
  }
}